@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

.modalContainer1 {
  width: 90%;
  max-width: 500px; /* Added max-width for responsiveness */
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  transition: transform 0.3s ease; /* Added transition effect */
}

.titleCloseBtn1 {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn1 button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer1 .title1,
.modalContainer1 .footer1 {
  text-align: center;
}

.modalContainer1 .footer1 button {
  width: 150px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added transition effect */
}

#cancelBtn1 {
  background-color: crimson;
}

.mBtn{
  text-align: center;
  height: 55px;
}

/* Added hover effect for buttons */
.modalContainer1 .footer1 button:hover {
  background-color: darkblue;
}

.title1{
  margin-bottom: 3rem;
}

.modalBackground1 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  left: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 450px) {
  .modalContainer1{
    width: 80%;
    height: 50%;
  }
  .lisson1{
    font-size: 30px;
  }
}